<div class="asset container">
    <div id="header" class="card-header main-header d-flex flex-wrap mx-n2 mt-n2 align-items-stretch flex-grow-1">
        <h3 class="card-title d-flex align-items-center ps-4">
            {{ message }}
        </h3>
    </div>
</div>
